@import "./Variable.scss";
.container{
    width: 100%;
    margin: 0 auto;
    .featured{
        width: 70%;
        margin: 1rem auto;
        h3#featured{
            margin-bottom: 0.5rem;
        }
        .featured_image{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        h2{
            margin: 1rem 0px;
        }
    }
    .topReads{
        width: 70%;
        margin: 0 auto;
        padding: 0.5rem 0px;
        #intro{
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
            padding-bottom: 0.5rem;
        }
    }
    .toggler{
        width: 70%;
        margin: 0 auto;
        border-top: 1px solid hsla(0, 0%, 0%, 0.2);;
        .topRow{
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0.5rem 0px;
            img,p{
                cursor: pointer;
            }
            #tog_asc{
                width: 16px;
                height: 16px;
                // border: 1px solid hsla(0, 0%, 0%, 0.2);
                // padding: 4px 8px;
            }
            p{
                padding: 4px 8px;
                border: 1px solid hsla(0, 0%, 0%, 0.2);
                border-radius: 4px;
            }
            p.active{
                background-color: $alt-theme-color;
                color: $theme-color;
                border: 1px solid $alt-theme-color;
                font-weight: 600;
            }
        }
    }
}