
.container{
    width: 45%;
    margin: auto;
    text-align: left;
    .name{
        width: auto;
    }
    .intro_text{
        font-size: 18px;
    }
    .author_intro{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0px;
        .author_details{
            display: flex;
            align-items: center;
            .auth_img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            .auth_talk{
                display: flex;
                flex-direction: column;
                margin-left: 8px;
                .auth_name{
                    font-weight: bold;
                    margin: 4px 0px;
                }
                .oth{
                    color: hsla(176, 19%, 44%, 1);
                }
            }
        }
        
    }
    .notif_image{
        cursor: pointer;
    }
    .bg_image{
        width: 100%;
        margin: 1rem 0px;
    }
    p,h2,h3,h4,h5,h6{
        margin: 1rem 0px;
    }
    blockquote{
        font-size: 48px;
        font-style: italic;
        line-height: 110%;
        margin: 1.5rem 0px;
        font-family: 'Titillium Web', sans-serif;
        color: #5B8582
    }
    .otherAritcles{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.btm_con{
    background-color: #f9f9f9;
    padding: 2.5rem 0;
    width: 100%;
    .btn_con_intro{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        a{
            text-decoration: none;
            color: #2F80ED;
        }
    }
    hr{
        opacity: 0.7;
        width: 80%;
        margin: 0.5rem auto;
    }
    .btm_con_top{
        width: 80%;
        margin: 0 auto;
        
    }
}