@import './Variable.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  min-height: 100vh;
}
// Typography
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  margin: 0 auto;
}
h1{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
}
h2{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
}
h3{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
}
h5{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
}
h6{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
}
a{
  font-family: 'Titillium Web', sans-serif;
}
p{
  font-family: 'Assistant', sans-serif;
  color: $main-dark
}
label{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
section{
  width: 90%;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
// Reuseable component styling
// 1. Grider
.grider{
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  column-gap: 1.5rem;
  .grider_box{
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;
    padding: 8px;
    opacity: 0.5;
    cursor: pointer;
  }
  .active{
    opacity: 1;
    border: 2px solid hsla(0, 79%, 63%, 1)
  }
}
// 2. Dual Image grid
.diGrid{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 1rem;
  .ltGrid,.rtGrid{
    width: 100%;
    display: flex;
    flex-direction: column;
    .digImg{
      width: 100%;
      height: auto;
    }
    .text_content{
      margin: 0.5rem 0px;
    }
  }
}
// 3. Team Testimonial
.tmts{
  width: 100%;
  margin: 0 auto;
  background: #EEF7FF;
  text-align: center;
  padding: 3rem 0px;
  .tmts_content{
    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    .rtarrow,.ltarrow{
      font-size: 4rem;
      font-weight: normal;
      margin: 0 1rem;
      cursor: pointer;
    }
    .contentCard{
      display: grid;
      background-color: $white;
      box-shadow: 0px 1px 10px 10px rgba(134, 134, 134, 0.06);;
      grid-template-columns: 40% 60%;
      .vid_sect{
        position: relative;
        .ttImg{
          width: 100%;
          height: 100%;
        }
        .play{
          position: absolute;
          width: auto;
          height: auto;
          top: 35%;
          left: 35%;
          cursor: pointer;
        }
      }
      .text_sect{
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text_div{
          display: flex;
          flex-direction: column;
        }
        .cpLogo{
          height: auto

        }
        .testimonial{
          font-family: 'Titillium Web', sans-serif;
          font-weight: 600;
          font-size: 16px;
          text-align: left;
          font-style: italic;
          line-height: 160%;
        }
        .people{
          text-align: left;
          .position{
            font-size: 14px;
            letter-spacing: -0.05em;
          }
        }
      }
    }
  }
  .indicator{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .indicators{
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin: 0 4px;
      background-color: #C4C4C4;
    }
    .active{
      background-color: $theme-color;
    }
  }
}
// 4. Large blog posts
.blogLg{
  width: 100%;
  display: flex;
  flex-direction: column;
  .blg{
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  p{
    margin: 8px 0px;
  }
  a{
    display: flex;
    align-items: center;
    color: #2F80ED;
    font-weight: 600;
  }
}
// 5. Black Contacts
.blackcon{
  width: 100%;
  background-color: #111;
  padding: 4rem 0px;
  margin: 1rem 0px;
  display: grid;

  .bgc{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
    align-items: center;
    .text_sec{
      display: flex;
      flex-direction: column;
      color: #fff;
      h1{
        font-size: 54px;
        color: white
      }
      p{
        width: 80%;
        margin: 1rem 0px;
        color: white;
      }
      a{
        padding: 8px 12px;
        background-color: $theme-color;
        color: #fff;
        text-decoration: none;
        width: fit-content;
      }
    }
    .bimg{
      width: 90%;
      height: 90%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}
// 6. Case study grid and case study card
.casegrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15.5rem 15.5rem;
  column-gap: 1rem;
  // row-gap: 1rem;
  margin: 2rem 0px;
  div:nth-of-type(even){
    margin-top: 1rem;
  }
}
.casecard{
  display: flex;
  height: 14.5rem;
  flex-direction: column;
  padding: 2rem;
  background-color: #EEF7FF;
  .intro{
    display: flex;
    .ccImg{
      border-radius: 50%;
      margin-right: 8px;
    }
    .name_intro{
      display: flex;
      flex-direction: column;
    }
  }
  .content{
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 18px;
    margin: 0.5rem 0px;;
  }
  .ccfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      font-weight: lighter;
      color: $main-dark;
    }
  }
}
// 7. Background contact information #TopFooter
.topFooter{
  background-image: url(../../public/topFotbackground.png);
  width: 100%;
  text-align: center;
  padding: 5rem 0px;
  margin: 1rem 0px 2rem;
  h1{
    width: 70%;
    margin: 0 auto;
  }
  p{
    font-weight: bold;
    margin: 0.5rem 0px 2rem;
  }
  a{
    color: #fff;
    background-color: $theme-color;
    padding: 6px 12px;
    font-weight: 600;
    text-decoration: none;
  }
}
// 8. Blog Post Card
.bpcCont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0px;
  .bpAuth{
    display: flex;
    align-items: flex-start;
    .bpAuthImg{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 4px;
    }
    h3,p{
      margin: 0;
    }
    h3.bpdesc{
      width: 95%;
    }
    p{
      color: #5B8582;
      margin-bottom: 1rem;
    }
    .bpAuth_detail{
      display: flex;
      flex-direction: column;
    }
  }
}
// 9. Blog Grid Card
.blogPostGrid{
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
.bpgcCont{
  width: 100;
  .bpgImage{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .auth{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    .auth_content{
      display: flex;
      align-items: center;
      .authImage{
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border-radius: 50%;
      }
      .auth_con{
        display: flex;
        flex-direction: column;
      }
    }
    .notif_bell{
      cursor: pointer;
    }
  }
}
// 10. Subscribe to Newsletter
.newsCon{
  width: 80%;
  margin: 3rem auto;
  padding: 3rem 0px;
  text-align: center;
  background-image: url(../../public/topFotbackground.png);
  p{
    opacity: 0.8;
    margin: 0.5rem;
  }
  .formHolder{
    width: 50%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    #textInput{
      width: 75%;
      margin-right: 4px;
      padding: 10px 8px;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    #submit{
      width: 20%;
      padding: 10px 16px;
      color: $white;
      background-color: $theme-color;
      outline: none;
      border: none;
      border-radius: 4px;
    }
  }
}