@import './Variable.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  min-height: 100vh;
}
// Typography
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  margin: 0 auto;
}
h1{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
}
h2{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
}
h5{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
}
h6{
  color: $main-dark;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
}
a{
  font-family: 'Titillium Web', sans-serif;
}
p{
  font-family: 'Assistant', sans-serif;
  color: $main-dark
}
label{
  font-weight: 600;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
