@import './Variable.scss';
.container{
    width: 100%;
    margin: 0 auto;
    .hero{
        display: grid;
        width: 80%;
        margin: 1rem auto;
        grid-template-columns: 55% 45%;
        column-gap: 1rem;
        .textSection{
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            p{
                margin: 1rem 0px;
            }
            .cta_row{
                width: fit-content;
                margin: 1rem 0;
                text-align: left;
                display: flex;
                flex-direction: row;
                a{
                    width: auto;
                    margin: 0 4px;
                    padding: 12px 32px;
                    text-transform: uppercase;
                    letter-spacing: -0.1;
                    font-weight: 700;
                    text-decoration: none;
                }
                a:first-of-type{
                    color: $white;
                    background-color: $theme-color;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 4px;
                    }
                }
                a:last-of-type{
                    color: $theme-color;
                    background-color: $alt-white;
                }
              }
        }
        .heroImg{
            width: 90%;
            object-fit: contain;
            height: auto;
        }
    }
    .composer{
        width: 100%;
        margin: 3rem auto;
        padding: 2rem 0px;
        text-align: center;
        position: relative;
        background-color: #fdfdfd;
        .grid_holder{
            width: 80%;
            margin: auto;
        }
        .intro{
            width: 70%;
            margin: 0 auto;
        }
        .grid_tab{
            width: 80%;
            margin: auto;
            .img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .cover_tab{
            width: 100%;
            background-color: $white;
            box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.4);
            position: absolute;
            bottom: 0;
            padding: 2rem;
            z-index: 1;
            text-align: left;
            div{
                width: 80%;
                margin: 0 auto;
                .sms_brand{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}